mixin page-header(title, text, image)
  section.page-header(style=`background-image: url(images/page-header-gradient.png), url(${image})`)
    .page-header__inner.border-left.border-right
      .page-header__text
        h1
          span.scribble= title
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" data-scrollspy="animate"><path stroke="#D62028" d="M2.133 4c109.261 0 219.053-2 327.93-2C434.826 2-88.827 14 15.937 14c72.044 0 144.39 4 216.195 4" style="fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:3px"/></svg>
        if text
          p= text
      aside.page-header__aside 
        .card-aside.background-primary
          h3 Kenmerken
          ul.list
            li
              span Lange levensduur
            li
              span Eco verwarming
            li
              span Efficiënte pompen
          .card__footer
            a(href="/").button.full-width Ontdek alle kenmerken

mixin page-header-pretreatment(title, text, image)
  section.page-header(style=`background-image: url(images/page-header-gradient.png), url(${image})`)
    .page-header__inner
      .page-header__text
        h1
          span.scribble= title
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 342 32" data-scrollspy="animate"><path stroke="#d62028" d="M2.133 4c109.261 0 219.053-2 327.93-2C434.826 2-88.827 14 15.937 14c72.044 0 144.39 4 216.195 4" style="fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:3px"/></svg>
        if text
          p= text
      aside.page-header__aside
        .card-aside.background-primary
          h3 Kenmerken
          ul.list
            li
              span Lange levensduur
            li
              span Eco verwarming
            li
              span Efficiënte pompen
          .card__footer
            a(href="/").button.full-width Ontdek alle kenmerken

mixin page-header-news(title, text, image)
  section.page-header.page-header--news.background-muted
    .page-header__inner
      .page-header__text
        h1
          span.scribble= title
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 154 20" data-scrollspy="animate"><path stroke="#d62028" d="M2 2C50.9744 2 99.9574 3.14155 148.943 3.14155C179.405 3.14155 88.0613 5.45919 57.6188 6.56619C51.2163 6.79901 44.6464 7.70774 38.2759 7.70774C38.0838 7.70774 36.8795 7.70774 37.2295 7.70774C41.1729 7.70774 45.1158 7.67613 49.0572 7.83458C61.002 8.31478 73.4566 7.96358 85.3013 9.70545C87.2632 9.99396 89.6845 10.5616 91.6115 10.5616" style="fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:3px"/></svg>
        if text
          p= text
      aside.page-header__aside
        .card-contact.background-primary.sticky(data-sticky-for="1199")
          h3 Benieuwd wat we voor u kunnen betekenen?
          .card__footer
            a(href="/").button.full-width Contact

mixin page-header-news-detail(title, text, image)
  section.page-header.page-header--news.page-header--news-item.background-muted
    .page-header__inner.border-left.border-right.pb-0
      .page-header__text.page-header__text--news-item
        h1
          span.scribble= title
        if text
          p= text
        .page-header__photo
          img(src="images/news.jpg" width="929" height="326" alt="news")
          .page-header__news-date.background-primary 18 juni 2021
      aside.page-header__aside.page-header__aside--news-item
        .card-contact.background-primary.sticky(data-sticky-for="1199")
          h3 Benieuwd wat we voor u kunnen betekenen?

          .card__footer
            a(href="/contact.html").button.full-width Contact

mixin page-header-contact(title, text, image)
  section.page-header.page-header--contact.background-muted
    .page-header__inner.border-left.border-right
      .page-header__text.border-right
        h1
          span.scribble= title
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 182 30" data-scrollspy="animate"><path stroke="#d62028" d="M2 2C60.0432 2 118.097 3.14155 176.153 3.14155C212.256 3.14155 103.998 5.45919 67.9179 6.56619C60.3299 6.79901 52.5434 7.70774 44.9932 7.70774C44.7656 7.70774 43.3382 7.70774 43.753 7.70774C48.4268 7.70774 53.0997 7.67613 57.7709 7.83458C71.9277 8.31478 94.1897 10.5616 115.436 10.5616C138.76 10.5616 149.178 10.5616 151.462 10.5616" style="fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:3px"/></svg>
        if text
          p= text
      aside.page-header__aside.page-header__aside--contact
        .card.card--contact
          h3 Glasbeek Finish B.V.
          p Noordkade 20
          p 2741 EV  Waddinxveen
          p Nederland

          .card--contact__section
            b Telefoon
            p T 
              a(href="tel:++310182322422") +31 (0) 182 322 422
          .card--contact__section
            b E-mail
            p Algemeen
            p E
              a(href="mailto:info@glasbeek.com") info@glasbeek.com
          .card--contact__section
            p Verkoop
            p E
              a(href="mailto:sales@glasbeek.com") sales@glasbeek.com
          .card--contact__section
            p Service
            p E
              a(href="mailto:service@glasbeek.com") service@glasbeek.com
          .card--contact__section
            b KVK
            p KvK 29021512